node_modules/
.next/
dist/
.env
uploads/original/*
uploads/generated/*
uploads/participant-original/*
uploads/event-pdfs/*
uploads/comic/*
uploads/rendered/*
!uploads/original/.gitkeep
!uploads/generated/.gitkeep
!uploads/participant-original/.gitkeep
!uploads/event-pdfs/.gitkeep
!uploads/comic/.gitkeep
!uploads/rendered/.gitkeep
.DS_Store